.nav {
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    background-color:royalblue;
}

.nav li {
    float: none;
    display: inline-block;
}
  
.nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    font-size: 1.5em;
    text-decoration: none;
  }